@import '../style';

.AsideLeft {
  position: absolute;
  background-color: $aside-color;
  transition-timing-function: $aside-transition-timing;
  transition-duration: $aside-transition-duration;
  transition-property: transform;
  -webkit-overflow-scrolling: touch;

  border-right: 1px solid $divider-color;
}

.AsideLeft__collapse {
  transform: translate3d(-100%, 0, 0);
}
