@import '../style';

[data-app="hits"] {
  margin-top: $aside-height;

  @include break(large) {
    margin-top: $aside-height-l;
  }
}

.Hits__btn {
  &:hover{
    background: $gradient-diagonal;
  }
}
