@import '../style';

.badge {
  font-size: 65%;
  padding: 1px 3px;
  top: -2px;
  box-shadow: 0 0 0 darken(rgba($gold, .4), 10%);
  @include hover-transition(opacity);
}

.badge--hover {
  opacity: .5;
}
