@import '../../style';

.social-icon {
  fill: material-color('blue-grey', '200');

  @include hover-transition(fill);
}

.social-icon-facebook:hover {
  fill: #3b5998;
}

.social-icon-twitter:hover {
  fill: #00aced;
}
