@import '../../style';

.footer__social-icon {
  fill: material-color('grey', '400');

  @include hover-transition(fill);
}

.footer__social-icon-facebook:hover {
  fill: #3b5998;
}

.footer__social-icon-twitter:hover {
  fill: #00aced;
}
