@import '../style';

[data-app='results'] {
  transition-timing-function: $aside-transition-timing;
  transition-duration: $aside-transition-duration;
  transition-property: padding-left;
  -webkit-overflow-scrolling: touch;
}

.results-expand {
  @include break(not-small) {
    padding-left: 25%;
  }

  @extend .dn, .db-ns;
}
