@import '../style';

.Results {
  transition-timing-function: $aside-transition-timing;
  transition-duration: $aside-transition-duration;
  transition-property: padding-left;
  -webkit-overflow-scrolling: touch;
}

.Results__expand {
  @include break(not-small) {
    padding-left: 25%;
  }
}
