{
  "presets": [
    "react",
    "latest"
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
