{
  "presets": [
    "next/babel"
  ]
  ,
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    ["transform-define", "./env.config.js"],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles",
          "components": "./components",
          "util": "./util",
          "config": "./config"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "ignore": []
}
