$unit: 1.2;
$card-width: 320px * $unit;
$card-height: 190px * $unit;
$card-content-height: 128px;

.product-grid {
  width: $card-width;
}

.product-grid__image {
  min-height: $card-height;
}

.product-grid__content {
  height: $card-content-height;
}
