$mdc-grid-list-tile-width: 370px;

@import "mdc-grid-list";

.mdc-grid-tile__secondary {
  background: linear-gradient(to top, rgba(0,0,0,.6) 0%, rgba(255,255,255,0) 100%);
}

.mdc-grid-list .mdc-grid-tile {
  margin: 0 15px 30px;
}
