.ais-CurrentRefinements__root:not(.ais-CurrentRefinements__noRefinement) {
  @extend .pt3;
}

.ais-CurrentRefinements__item:not(.ais-CurrentRefinements__itemParent) {
  @extend .dib, .br2, .mr2, .nowrap, .inline-flex, .items-center, .justify-center;

  padding: 5px 8px;
  color: material-color('blue', '700');
  background-color: material-color('blue', '50');
}

.ais-CurrentRefinements__itemParent {
  @extend .dib;

  > .ais-CurrentRefinements__itemLabel {
    @extend .dn;
  }
}

.ais-CurrentRefinements__itemClear {
  background: none;
  border: 0;
  margin-left: 3px;

  @extend .pointer, .pa0;

  > svg {
    @extend .blue, .f6, .b, .dim;
  }
}
