.search-results {
  -webkit-overflow-scrolling: touch;

  @include lateral-transition(width, padding-left);
}

.search-results--expand {
  padding-left: 0;

  @include break(large) {
    padding-left: 20%;
  }
}
