@import '../style';

$input-height: 32px;
$input-height-l: 36px;

[data-app='searchbox'] {
  > input {
    height: $input-height;
    @include break(large) {
      height: $input-height-l;
    }
  }

  > svg {
    height: $input-height;
    @include break(large) {
      height: $input-height-l;
    }
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    &.focus {
      @extend .blue;
    }

    &.blur {
      @extend .light-silver;
    }
  }
}
