.searchbox__input {
  height: $searchbox-input-height;
  font-size: 16px;
  letter-spacing: .03rem;
  color: $white;
  padding: 42px;

  @include placeholder-color(rgba($white, .6));
}

.searchbox__icon {
  height: $searchbox-input-height;
  stroke: $white-50;

  @include hover-transition(stroke);
}

.searchbox__icon-search--focus {
  stroke: $white;
}

.searchbox__icon-search {
  @include hover-transition(stroke);
}

.searchbox__icon-clear {
  transform: scale(0);

  @include hover-transition(stroke, transform);

  &:hover {
    stroke: $white;
  }
}

.searchbox__icon-clear--active {
  transform: scale(1);
}
