$material-colors: (
  'blue': (
    '50': #e3f6ff,
    '100': #bae9ff,
    '200': #8cdaff,
    '300': #5ecbfe,
    '400': #3cc0fe,
    '500': #19b5fe,
    '600': #16aefe,
    '700': #12a5fe,
    '800': #04518c,
    '900': #003056
  ),

  'cyan': (
    '50': #e0f7fa,
    '100': #b2ebf2,
    '200': #80deea,
    '300': #4dd0e1,
    '400': #26c6da,
    '500': #00bcd4,
    '600': #00acc1,
    '700': #0097a7,
    '800': #00838f,
    '900': #006064
  ),

  'grey': (
    '50': #fafafa,
    '100': #f5f5f5,
    '200': #eee,
    '300': #e0e0e0,
    '400': #bdbdbd,
    '500': #9e9e9e,
    '600': #757575,
    '700': #616161,
    '800': #424242,
    '900': #212121
  )
);

@each $color-name, $color-variants in $material-colors {
  @each $color-variant, $hex-value in $color-variants {
    .#{$color-name}-#{$color-variant} {
      color: #{$hex-value};
    }

    .hover-#{$color-name}-#{$color-variant}:hover,
    .hover-#{$color-name}-#{$color-variant}:focus {
      color: #{$hex-value};
    }

    .bg-#{$color-name}-#{$color-variant} {
      background-color: #{$hex-value};
    }

    .hover-bg-#{$color-name}-#{$color-variant}:hover,
    .hover-bg-#{$color-name}-#{$color-variant}:focus {
      background-color: #{$hex-value};
    }

    .b--#{$color-name}-#{$color-variant} {
      border-color: #{$hex-value};
    }
  }
}

@function material-color($color-name, $color-variant: '500') {
  $color: map-get(map-get($material-colors, $color-name), $color-variant);

  @if $color {
    @return $color;
  }

  @else {
    // Libsass still doesn't seem to support @error
    @error "=> ERROR: COLOR NOT FOUND! <= | Your $color-name (#{$color-name}), $color-variant (#{$color-variant}) combination did not match any of the values in the $material-colors map.";
  }
}
