@import './colors';
@import './variables';
@import './util';

// global

button,
html,
input {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

::selection {
  background: #b1d7fe;
  color: $white;
}

em {
  font-style: normal;
  border-bottom: dotted 1px;
}

.fade-in {
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.card-shadow {
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .16);
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
