/* colors */

$moon-gray    : #c3c9cd;
$blue         : #19B5FE;
$light-blue   : lighten($blue, 10%);
$dark-blue    : darken($blue, 10%);
$navy         : #1a2f4c;

@import '~tachyons-sass/tachyons';
@import '~tachyons-queries/queries';

$aside-color              : $white;
$aside-height-l           : 64px;
$aside-height             : 60px;
$aside-transition-timing  : cubic-bezier(.4,0,.2,1);
$aside-transition-duration: .35s;
$searchbox-border-width   : 1.8px;
$divider-color            : $near-white;

$gradient-one             : $light-blue;
$gradient-two             : #31d0c9;
$gradient                 :  linear-gradient(90deg, $gradient-two, $gradient-one);
$gradient-invert          :  linear-gradient(-90deg, $gradient-two, $gradient-one);
$gradient-diagonal        :  linear-gradient(135deg, $gradient-two, $gradient-one);

$toggle-transition-time   : .3s;
$toggle-transition-timing : cubic-bezier(0.35, 0, 0.25, 1);
$toggle-on-color          : $blue;
$toggle-off-color         : #fdfdfd;
$toggle-border-color      : darken($near-white, 2%);
$toggle-box-shadow        : 1px 2px 2px rgba(0, 0, 0, 0.16);

@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

@function shade($color, $percent) {
  @return mix(black, $color, $percent);
}

.fade-in {
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes toggleOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes toggleOff {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* global */

em {
  background-color: $yellow;
  padding: .05em .1em;
  font-style: normal;
}

input[type=search] {
  outline: 0;
  border: 0;
  box-shadow: none;
  @extend .input-reset, .br2;
  border: $searchbox-border-width solid $divider-color;

  &:focus {
    border-color: $blue;
  }
}

input[type=checkbox] {
  @extend .pointer;
}
