/* colors */

$light-gray   : #c3c9cd;
$blue         : #19B5FE;
$light-blue   : lighten($blue, 10%);
$dark-blue    : darken($blue, 10%);
$navy         : #25303f;

@import '~tachyons-sass/tachyons';
@import '~tachyons-queries/queries';

$aside-color              : $white;
$aside-height-l           : 64px;
$aside-height             : 60px;
$aside-transition-timing  : cubic-bezier(.4,0,.2,1);
$aside-transition-duration: .35s;
$searchbox-border-width   : 1.5px;
$divider-color            : $near-white;

.fade-in {
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* global */

html * {
  @extend .helvetica;
}

body {
  @extend .overflow-y-hidden;
}

em {
  background-color: $yellow;
  padding: .05em .1em;
  font-style: normal;
}

input[type=search],
textarea {
  outline: none;
  border: $searchbox-border-width solid $divider-color;

  &:focus {
    border-color: $blue;
  }
}

input[type=checkbox] {
  @extend .pointer;
}
