@import './variables';

$ease-in-out: cubic-bezier(.4, .0, .2, 1);

@mixin lateral-transition($props...) {
  transition-property: $props;
  transition-duration: .2s;
  transition-timing-function: $ease-in-out;
}

@mixin hover-transition($props...) {
  transition-property: $props;
  transition-duration: .35s;
  transition-timing-function: $ease-in-out;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

// animations

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
