// custom rules

.input-search {
  outline: 0;
  border: 0;
}

.w-95 {
  width: 95%;
}

.no-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.tracked {
  letter-spacing: .04em;
}

@import '~tachyons-sass/tachyons';
@import '~tachyons-queries/queries';

// specific app configuration

$appbar-height: 64px;
$searchbox-input-height: 48px;
$toggle-transition-duration: .25s;
$toggle-transition-timing-function: cubic-bezier(.35, 0, .25, 1);
