$navy: #4f5d72;
$moon-gray: #cfd7e6;
$near-white: #f5f5f5;
$light-silver: hsla(216, 18%, 65%, .8);

$blue: #19b5fe;
$light-blue: lighten($blue, 10%);
$lightest-blue: #d1f1fe;
$dark-blue: darken($blue, 10%);

$cyan: #00bcd4;
$green: #31d0c9;
$light-green: lighten($green, 10%);
$lightest-green: #d8f5f3;
$gold: #ffc107;

// custom rules

.cyan {
  color: $cyan;
}

.bg-cyan {
  background-color: $cyan;
}

.w-95 {
  width: 95%;
}

.no-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

@import '~tachyons-sass/tachyons';
@import '~tachyons-queries/queries';

// specific app configuration

$appbar-height: 64px;
$searchbox-input-height: 48px;
$toggle-transition-duration: .25s;
$toggle-transition-timing-function: cubic-bezier(.35, 0, .25, 1);
