$mdc-grid-list-tile-width: 249px;
$mdc-grid-list-tile-secondary-padding: 16px;
$mdc-grid-list-tile-secondary-padding-narrow: 8px;
$mdc-grid-list-oneline-cap-secondary-height: 48px;
$mdc-grid-list-twoline-cap-secondary-height: 68px;
$mdc-grid-list-tile-secondary-icon-size: 24px;

@import "mdc-grid-list";

.mdc-grid-tile__secondary {
  background: rgba(0, 0, 0, .4);
}

.mdc-grid-tile__primary-content {
  object-fit: cover;
  filter: brightness(80%);

  &:hover {
    filter: brightness(100%);
  }

  @include hover-transition(filter);
}
