@import '../style';

.AsideRight {
  position: absolute;
  right: 0;
  background-color: $aside-color;
  -webkit-overflow-scrolling: touch;
  border-left: 1px solid $divider-color;
  @include aside-transition(transform);
}

.AsideRight__collapse {
  transform: translate3d(100%, 0, 0);
}
