@import '../style';

[data-app='hit'] {
  &:first-of-type {
    > a {
      padding-top: 0;
    }
  }

  @extend .fade-in;
}

.Hit-image {
  width: 3rem;
  @include break(large) {
    width: 2.5rem;
  }

  @include transition(opacity);
}

.Hit-price {
  min-width: 91.38px;
}
