@import '../style';

.hit {
  &:first-of-type {
    > a {
      padding-top: 0;
    }
  }
}


.hit__image-wrapper {
  width: 3rem;
  @include hover-transition(opacity);
}

.hit__price {
  min-width: 91.38px;
}
