@import '../style';

.ais-CurrentFilters__filterClear {
  background: none;
  border: none;
  @extend .pointer;

  > svg {
    @extend .br-100, .pa1, .white, .f6, .dim;
    background-color: $divider-color;
  }
}
