@import '../style';

.logo--big {
  width: 10rem;
}

.logo--tiny {
  width: 2rem;
  min-width: 32px;
}

.logo--shake {
  animation: shake 150ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }

  50% {
    transform: translate(-3px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
