@import '../style';

.AppBar {
  height: $appbar-height;
  @include box-shadow(2);

  &:after {
    top: $appbar-height;
    background: $gradient-invert;
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    left: 0;
  }

  > * {
    position: relative;
    top: 3px;
  }
}
