.headroom {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(255, 255, 255, 0) 100%);

  @include hover-transition(background-color);
}

.appbar__topbar {
  height: $appbar__topbar-height;

  > * {
    padding: 0 .25rem;
    vertical-align: middle;
  }
}

.appbar__navbar {
  max-height: $appbar__navbar-height;
  height: $appbar__navbar-height;
}

.appbar__navbar-item,
.appbar__navbar-link--active2 {
  min-height: $appbar__navbar-height;
  height: $appbar__navbar-height;
}

.appbar__navbar-link.appbar__navbar-link--dark {
  color: material-color('grey', '500');
}

.appbar__navbar-link.appbar__navbar-link--active {
  color: white;
}
