@import '../style';

.Facets {
  position: absolute;
  background-color: $aside-color;
  transition-timing-function: $aside-transition-timing;
  transition-duration: $aside-transition-duration;
  transition-property: transform;
  -webkit-overflow-scrolling: touch;

  @include break(large) {
    border-right: 1px solid $divider-color;
  }
}

.Facets__collapse {
  transform: translate3d(-100%, 0, 0);
}
