@import '../style';

[data-app='facets'] {
  position:absolute;
  background-color: $aside-color;
  transition-timing-function: $aside-transition-timing;
  transition-duration: $aside-transition-duration;
  transition-property: transform;
}

.facets-collapse {
  transform: translate3d(-100%, 0, 0);
}
