@import '../style';

[data-app='facets-wrapper'] {
  margin-top: $aside-height;

  @include break(large) {
    margin-top: $aside-height-l;
  }

  > article:first-of-type {
    @extend .pt4-l, .pt3, .mt2;
  }
}

.ais-RefinementList__item {
  @extend .avenir, .mb2;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAADElEQVR4AWMAgZv/AQK4Adm/DmhaAAAAAElFTkSuQmCC') repeat-x 0 13px;

  > label {
    @extend .db, .pointer;

    &:hover {
      > span {
        @extend .blue;
      }
    }
  }

  span {
    background-color: $aside-color;
  }
}

.ais-RefinementList__root {
  @extend .pt3;
}

.ais-RefinementList__itemLabel {
  padding: 0 .5rem;
  @extend .ttc, .lh-title, .f5, .fw4, .dark-blue;
}

.ais-RefinementList__itemSelected span {
  @extend .blue, .b, .fw7;
}

.ais-RefinementList__itemCount {
  padding-left: .5em;
  @extend .fr, .light-silver;
}

[data-app='facet-size'] {
  .ais-Range__bound div:after{
    content: 'm';
  }
}

[data-app='facet-price'] {
  .ais-Range__bound div:after{
    content: '€';
  }
}

[data-app='facet-litres'] {
  .ais-Range__bound div:after{
    content: 'l';
  }
}

.ais-Range__trackSelected {
  @extend .bg-blue;
}

.ais-Range__handleDot {
  border: 3px solid $blue;
  background: $white;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  flex-shrink: 0;
  @extend .pointer;
}

.ais-Range__bound {
  @extend .mt3;
}

.ais-Range__root {
  @extend .mh3;
}

.ais-RefinementList__showMore {
  border: 0;
  background: none;
  @extend .mt2, .light-silver, .hover-light-blue, .pl0;
}
