@import '../style';

.list-item {
  background-color: rgba(184, 192, 203, .3);
}

.list-item--checked {
  background-color: #455a64;
}

.list-item__label {
  color: #78909c;
}

.list-item__label--checked {
  color: #cfd8dc;
}

.list-item__count {
  color: #b0bec5;
}

.list-item__count--checked {
  color: #90a4ae;
}
