@import '../style';

$primary-color: material-color('blue', '400');
$secondary-color: material-color('grey', '300');

.rheostat {
  height: 24px;
  margin: 0 20px;
  position: relative;
  overflow: visible;
}

.rheostat-background {
  background: $secondary-color;
  height: 2px;
  position: relative;
  top: 14px;
  width: 100%;
}

.rheostat--disabled .rheostat-progress {
  background-color: #edefed;
}

.rheostat--disabled .rheostat-handle {
  cursor: default;
}

.rheostat-progress {
  height: 4px;
  position: absolute;
  top: 13px;
  background-color: $primary-color;
}

.rheostat-handle {
  border: 0;
  background-color: $primary-color;
  border-radius: 100%;
  cursor: pointer;
  top: 7px;
  width: 15px;
  height: 15px;
  margin-left: -12px;
  position: absolute;
  z-index: 2;
  font-size: 0;
  transform: scale(1);
  animation-timing-function: $toggle-transition-timing-function;
  animation-duration: $toggle-transition-duration;

  &:hover {
    transform: scale(1.1);
    animation-name: toggleRange;
  }
}

@keyframes toggleRange {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}
