@import '../style';

.rheostat {
  height: 24px;
  margin: 0 20px;
  position: relative;
  overflow: visible;
}

.rheostat-background {
  background: #dce0e0;
  height: 2px;
  position: relative;
  top: 14px;
  width: 100%;
}

.rheostat--disabled .rheostat-progress {
  background-color: #edefed;
}

.rheostat--disabled .rheostat-handle {
  cursor: default;
}

.rheostat-progress {
  height: 4px;
  position: absolute;
  top: 13px;
  @extend .bg-gradient-invert;
}

.rheostat-handle {
  border: 1px solid darken($near-white, 2%);
  background: #fff;
  border-radius: 100%;
  box-shadow: $toggle-box-shadow;
  cursor: pointer;
  height: 24px;
  margin-left: -12px;
  position: absolute;
  z-index: 2;
  width: 24px;
  font-size: 0;

  transform: scale(1);
  animation-timing-function: $toggle-transition-timing;
  animation-duration: $toggle-transition-time;
  animation-name: toggleOff;

  &:hover{
    transform: scale(1.1);
    animation-name: toggleOn;
  }
}
