$material-colors: (
  'amber': (
    '50': #fff8e1,
    '100': #ffecb3,
    '200': #ffe082,
    '300': #ffd54f,
    '400': #ffca28,
    '500': #ffc107,
    '600': #ffb300,
    '700': #ffa000,
    '800': #ff8f00,
    '900': #ff6f00,
    'a100': #ffe57f,
    'a200': #ffd740,
    'a400': #ffc400,
    'a700': #ffab00
  ),

  'blue': (
    '50': #e3f6ff,
    '100': #bae9ff,
    '200': #8cdaff,
    '300': #5ecbfe,
    '400': #3cc0fe,
    '500': #19b5fe,
    '600': #16aefe,
    '700': #12a5fe,
    '800': #04518c,
    '900': #003056
  ),

  'green': (
    '50' : #e6f9f9,
    '100' : #c1f1ef,
    '200' : #98e8e4,
    '300' : #6fded9,
    '400' : #50d7d1,
    '500' : #31d0c9,
    '600' : #2ccbc3,
    '700' : #25c4bc,
    '800' : #1fbeb5,
    '900' : #13b3a9,
    'A100' : #e4fffd,
    'A200' : #b1fffa,
    'A400' : #7efff6,
    'A700' : #64fff4
  ),

  'cyan': (
    '50': #e0f7fa,
    '100': #b2ebf2,
    '200': #80deea,
    '300': #4dd0e1,
    '400': #26c6da,
    '500': #00bcd4,
    '600': #00acc1,
    '700': #0097a7,
    '800': #00838f,
    '900': #006064
  ),

  'grey': (
    '50': #fafafa,
    '100': #f5f5f5,
    '200': #eee,
    '300': #e0e0e0,
    '400': #bdbdbd,
    '500': #9e9e9e,
    '600': #757575,
    '700': #616161,
    '800': #424242,
    '900': #212121
  ),

  'blue-grey': (
    '50': #eceff1,
    '100': #cfd8dc,
    '200': #b0bec5,
    '300': #90a4ae,
    '400': #78909c,
    '500': #607d8b,
    '600': #546e7a,
    '700': #455a64,
    '800': #37474f,
    '900': #263238,
    '1000': #11171a
  )
);

@each $color-name, $color-variants in $material-colors {
  @each $color-variant, $hex-value in $color-variants {
    .#{$color-name}-#{$color-variant} {
      color: #{$hex-value};
    }

    .hover-#{$color-name}-#{$color-variant}:hover,
    .hover-#{$color-name}-#{$color-variant}:focus {
      color: #{$hex-value};
    }

    .bg-#{$color-name}-#{$color-variant} {
      background-color: #{$hex-value};
    }

    .hover-bg-#{$color-name}-#{$color-variant}:hover,
    .hover-bg-#{$color-name}-#{$color-variant}:focus {
      background-color: #{$hex-value};
    }

    .b--#{$color-name}-#{$color-variant} {
      border-color: #{$hex-value};
    }
  }
}

@function material-color($color-name, $color-variant: '500') {
  $color: map-get(map-get($material-colors, $color-name), $color-variant);

  @if $color {
    @return $color;
  }

  @else {
    // Libsass still doesn't seem to support @error
    @error '=> ERROR: COLOR NOT FOUND! <= | Your $color-name (#{$color-name}), $color-variant (#{$color-variant}) combination did not match any of the values in the $material-colors map.';
  }
}
