$input-width: 280px;
$input-height: 38px;

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
  position: absolute;
  top: 4px;
  right: 5px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  user-select: none;
  fill: #ccd4d7;
}

.ais-SearchBox-input:valid ~ .ais-SearchBox-reset {
  display: block;
}

.ais-SearchBox-input {
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $gray2;
  border-radius: 1rem;
  appearance: none;
  margin: 0;
  padding: 4px 30px 4px 15px;
  width: $input-width;
  height: $input-height;
  font-size: inherit;
  color: #14171a;
  background-color: $gray0;

  @include breakpoint($medium) {
    width: $input-width * 1.3;
  }

  @include breakpoint($large) {
    width: $input-width * 1.8;
  }

  &:focus {
    outline: none;
    border: 2px solid $cyan;
    background-color: $white;
  }

  @include placeholder {
    color: $gray5;
    font-size: 16px;
  }
}

.ais-SearchBox-input:valid {
  font-weight: bold;
}

.ais-SearchBox-reset svg {
  display: block;
  margin: 9px;
  width: 12px;
  height: 12px;
}

.ais-SearchBox {
  display: inline-block;
  position: relative;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.ais-SearchBox.form {
  margin-left: -24px; /* left icon */
  width: 100%;
  height: 100%;
}
