@import 'normalize.css';
@import 'breakpoint-sass/stylesheets/breakpoint';

$white : #fff;
$cyan  : #01BDF2;
$yellow: #fed419;
$gray0 : #f8f9f9;

$small : 40em;
$medium: 52em;
$large : 64em;

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif;
  line-height: 1.3125;
  font-size: 16px;
}

@import './SearchBox.scss';
@import './Highlight.scss';
