@import 'normalize.css';
@import 'breakpoint-sass/stylesheets/breakpoint';

$white : #fff;
$cyan  : #00d0ff;
$yellow: #ffae00;

$gray0: #f8f9f9;
$gray1: #eaeeee;
$gray2: #dbe1e3;
$gray3: #cbd4d6;
$gray4: #b9c5c8;
$gray5: #a6b5b9;
$gray6: #8fa3a7;
$gray7: #758d92;
$gray8: #5b6f74;
$gray9: #354144;

$small : 40em;
$medium: 52em;
$large : 64em;

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

html {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.8;
  font-size: 16px;
  background-color: #f7f8f8;
}

@import './SearchBox.scss';
@import './Highlight.scss';
@import './progress.scss';
