@import '../style';

.ais-CurrentRefinements__item:not(.ais-CurrentRefinements__itemParent) {
  @extend .dib, .br3, .mr2, .near-white, .bg-gradient-invert;

  > .ais-CurrentRefinements__itemLabel {
    @extend .pl2;
  }
}

.ais-CurrentRefinements__itemParent {
  > .ais-CurrentRefinements__itemLabel {
    @extend .db;
    @extend .pv3;
  }
}

.ais-CurrentRefinements__itemClear {
  background: none;
  border: 0;
  padding: .4rem .4rem .3rem;
  @extend .v-mid, .pointer;

  > svg {
    @extend .white, .f6, .b, .dim;
  }
}
