@import '../style';

$primary-color: material-color('grey', '300');

.refinement-list__quantity {
  padding: 3px 6px;
}

.rc-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;

  &-inner {
    &::after {
      transform: rotate(45deg);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: none;
      border-top: 0;
      border-left: 0;
      content: ' ';
      animation-timing-function: cubic-bezier(.68, -.55, .27, 1.55);
      animation-duration: .3s;
      animation-name: amCheckboxOut;
    }

    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: transparent;
    background-color: $primary-color;
    transition: border-color .3s cubic-bezier(.68, -.55, .27, 1.55), background-color .3s cubic-bezier(.68, -.55, .27, 1.55);
  }

  &-input {
    position: absolute;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.rc-checkbox-checked {
  &:hover {
    .rc-checkbox-inner {
      border-color: #3dbcf6;
    }
  }

  .rc-checkbox-inner {
    border-color: #3dbcf6;
    background-color: #3dbcf6;

    &::after {
      transform: rotate(45deg);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid white;
      border-top: 0;
      border-left: 0;
      content: ' ';
      animation-timing-function: cubic-bezier(.68, -.55, .27, 1.55);
      animation-duration: .3s;
      animation-name: amCheckboxOut;
    }
  }
}

.rc-checkbox-disabled {
  &.rc-checkbox-checked {
    &:hover {
      .rc-checkbox-inner {
        border-color: transparent;
      }
    }

    .rc-checkbox-inner {
      background-color: #f3f3f3;
      border-color: transparent;

      &::after {
        animation-name: none;
        border-color: #ccc;
      }
    }
  }

  &:hover {
    .rc-checkbox-inner {
      border-color: transparent;
    }
  }

  .rc-checkbox-inner {
    border-color: transparent;
    background-color: #f3f3f3;

    &::after {
      animation-name: none;
      border-color: #f3f3f3;
    }
  }

  .rc-checkbox-inner-input {
    cursor: default;
  }
}

@keyframes amCheckboxIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0) rotate(45deg);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1) rotate(45deg);
  }
}

@keyframes amCheckboxOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
