@import '../style';

.rc-switch {
  width: 32px;
  border-radius: 4px;
  height: 10px;
  transform: translateY(50%);
  background-color: material-color('blue-grey', '50');
  position: relative;
  user-select: none;

  &::after {
    border-radius: 100%;
    background-color: material-color('blue-grey', '200');
    position: absolute;
    left: 0;
    top: -3px;
    width: 15px;
    height: 15px;
    content: '';
    transform: scale(1) translateX(0);
    transition: all $toggle-transition-duration $toggle-transition-timing-function;
    animation-timing-function: $toggle-transition-timing-function;
    animation-duration: $toggle-transition-duration;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;

    &::after {
      transform: scale(1.1) translateX(0);
      animation-name: toggleOnRefinementList;
    }
  }
}

.rc-switch-checked {
  background-color: material-color('blue', '200');
  transform: scale(1) translate3d(0, 50%, 0);

  &::after {
    background-color: material-color('blue', '500');
    transform: scale(1) translate3d(17px, 0, 0);
  }

  &:hover {
    &::after {
      transform: scale(1.1) translate3d(17px, 0, 0);
      animation-name: toggleOffRefinementList;
    }
  }
}

@keyframes toggleOnRefinementList {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes toggleOffRefinementList {
  0% {
    transform: scale(1) translate3d(17px, 0, 0);
  }

  50% {
    transform: scale(1.25) translate3d(17px, 0, 0);
  }

  100% {
    transform: scale(1.1) translate3d(17px, 0, 0);
  }
}
