button,
html,
input {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

::selection {
  background: #b1d7fe;
  color: $white;
}

em {
  font-style: normal;
  border-bottom: dotted 1px;
}

.card-shadow {
  border-bottom: 1px solid #e5e5e5;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.fade-in {
  animation-fill-mode: both;
  animation-name: fadeInOpacity;
  animation-duration: .35s;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
