// custom rules

.border-0 {
  border: 0;
}

.w-95 {
  width: 95%;
}

.no-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.tracked {
  letter-spacing: .04em;
}

.lighter {
  font-weight: lighter;
}

@import '~tachyons-sass/tachyons';
@import '~tachyons-queries/queries';
